[rhel-7-server-rpms]
name=rhel-7-server-rpms
baseurl=file://PATH_HERE/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=rhel-7-server-extras-rpms
baseurl=file://PATH_HERE/rhel-7-server-extras-rpms
enabled=1
gpgcheck=0

[rhel-7-server-optional-rpms]
name=rhel-7-server-optional-rpms
baseurl=file://PATH_HERE/rhel-7-server-optional-rpms
enabled=1
gpgcheck=0

[rhel-ha-for-rhel-7-server-rpms]
name=rhel-ha-for-rhel-7-server-rpms
baseurl=file://PATH_HERE/rhel-ha-for-rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.7-rpms]
name=rhel-7-server-ansible-2.7-rpms
baseurl=file://PATH_HERE/rhel-7-server-ansible-2.7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ose-3.10-rpms]
name=rhel-7-server-ose-3.10-rpms
baseurl=file://PATH_HERE/rhel-7-server-ose-3.10-rpms
enabled=1
gpgcheck=0

[rh-gluster-3-for-rhel-7-server-rpms]
name=rh-gluster-3-for-rhel-7-server-rpms
baseurl=file://PATH_HERE/rh-gluster-3-for-rhel-7-server-rpms
enabled=1
gpgcheck=0

[rh-gluster-3-samba-for-rhel-7-server-rpms]
name=rh-gluster-3-samba-for-rhel-7-server-rpms
baseurl=file://PATH_HERE/rh-gluster-3-samba-for-rhel-7-server-rpms
enabled=1
gpgcheck=0

[rh-gluster-3-nfs-for-rhel-7-server-rpms]
name=rh-gluster-3-nfs-for-rhel-7-server-rpms
baseurl=file://PATH_HERE/rh-gluster-3-nfs-for-rhel-7-server-rpms
enabled=1
gpgcheck=0

[rh-gluster-3-web-admin-server-for-rhel-7-server-rpms]
name=rh-gluster-3-web-admin-server-for-rhel-7-server-rpms
baseurl=file://PATH_HERE/rpms/rh-gluster-3-web-admin-server-for-rhel-7-server-rpms
enabled=1
gpgcheck=0

[rh-gluster-3-web-admin-agent-for-rhel-7-server-rpms]
name=rh-gluster-3-web-admin-agent-for-rhel-7-server-rpms
baseurl=file://PATH_HERE/rpms/rh-gluster-3-web-admin-agent-for-rhel-7-server-rpms
enabled=1
gpgcheck=0
